# OCR ومعالجة PDF
pdf2image==1.17.0
Pillow
pytesseract==0.3.10
arabic-reshaper==3.0.0

# الذكاء الاصطناعي والتعلم العميق
torch==2.2.0
torchvision==0.17.0
ultralytics
easyocr==1.7.1
opencv-python-headless==4.8.1.78
numpy<2.0

# API
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.18
pyyaml

# واجهة المستخدم
PyQt5