# OCR ومعالجة PDF
pdf2image==1.17.0
Pillow
pytesseract==0.3.10
arabic-reshaper==3.0.0

# الذكاء الاصطناعي والتعلم العميق
torch==2.0.1+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
ultralytics
easyocr==1.7.1
opencv-python-headless==4.8.0.76
numpy<2.0

# API
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.9
pyyaml

# واجهة المستخدم
PyQt5